*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    /* background-color: #081b29; */
    color: #ededed;
} 
.home{
    height: 100vh;
    background: url(./img-3.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.home .content{
    max-width: 600px;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgba(0, 0, 0, 0.649);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 45px;
    font-family: 'Times New Roman';
    color: rgb(137, 207, 250);
    text-decoration: none;
    font-weight: 1000;
    letter-spacing: 2px;
}

.menuicon{
    font-size: 24px;
    padding: 20px;
}

.navbar a{
    text-decoration: none;
    color:rgb(238, 228, 237) ;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial;
    padding-left: 70px;
    
    
}

.navbar a:hover{
    color: #5ac6f8;
    transition: 0.5s ease-out;
}

.home{
    margin-top: 5px;
    padding-left: 150px;
}

.heading{
    font-size: 60px;
    font-weight: 600;
    color: #00abf0;
    
}

.text{
    font-size: 25px;
    font-family: 'Gill Sans';
    padding-top: 30px;
    color: #ededed;
    font-weight: 600;
}



/* .content a{
    text-decoration: none;
    color: #ededed;
    padding: 10px;
    background-color: #081b29;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 20px;
   
}

.content h2{
    font-weight: 600;
}

.btn{
    padding-top: 40px;
    
}
.content a:hover{
    color: #081b29;
    background-color: yellowgreen;
    transition: 0.5s  ease-in-out ;
} */


.content .button{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.button a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 10px;
    text-decoration: none;
    font-size: 19px;
    color: #081b29;
    padding: 20px;
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.9s;


}

.button a:hover{
    color: #00abf0;

}

.button a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.button a:nth-child(2)::before{
    background: #00abf0;

}
.button a:nth-child(2):hover{
    color: #081b29;

}

.button a::before{
    content: '';
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.button a:hover::before{
    width: 100%;
}

.icon{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transform: .5s;

}
.icon a:hover{
    color: #081b29;
    background: #00abf0;
}

/* .icon a::before{
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0 ;
    transition: .5s;
    z-index: -1;


}
.icon a:hover::before{
    width: 100%;
    
} */

/* .home-imghover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 700px;
    height: 100%;
    background: transparent;
    transition: .3s;

}
.home-imghover:hover{
    background: black;
    opacity: .3;

} */
.heading small{
    color: #ededed;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about{
    background: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main .image{
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 120px;
    float:right
    
    
    
}


.ex .abt{
    font-size: 80px;
    font-weight: 800;
    color: #00abf0;
    letter-spacing: 3px;
  
    



}

.ex {
    margin-top:100px ;
    padding-left:150px;

   
}
.ex .p1{
    font-size: 45px;
    margin-top: 50px;
    
}

.ex .p2 {
    font-size: 20px;
    font-family: cursive;
    color: #00abf0;
}

.ex .p3 {
    font-size: 20px;
    font-family: cursive;
    color: #00abf0;
}



.ex a{
    text-decoration: none;
    color: #00abf0;
    font-weight: 900;
    border: 2px solid #30a9d5;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    background-color: black;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px #00abf0;
}

.ex a:hover{
    color: #081b29;
    background: #5ac6f8;
    transition: .9s;

}

.sec{
    width: 100%;
    height: 70vh;
    background: black;
    overflow: hidden;
}
.service{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    column-gap: 10px;
    
}
.dhee{
    color: #ededed;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin: 0px;
}
.more{
    background: black;
    overflow: hidden;
    text-align: center;
}
.more a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid #00abf0;
    color: #081b29;
    background: #00abf0;
    border-radius: 35px;
    padding: 40px;
    
}
    
 .ser{
    background: transparent;
    margin: 70px 2px;
    border-radius: 10px;
    border: 2px solid #ededed;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}
.ser img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
   
}


.ser a{
    text-decoration: none;
    color: #ededed;
    text-align: center;
    padding: 120px;
    text-shadow: 1px 2px 4px #197ba4;
    font-size: 26px;
    font-weight: 900;
  
}
.service .ser a:hover{
    color: rgba(59, 175, 210, 0.5)50%;
  
}

.ser h2{
    text-align: center;
    color: #ededed;
    text-shadow: 1px 2px 4px #ededed;
    font-size: 40px;

}

.contactsec{
    width: 100%;
    height: 60vh;
    background-color: black;
}
.contacts{
    margin: 20px;
    
}
.contacts h1{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    
}
.cs .support{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    

}
.contacts a{
    text-align: center;
    text-decoration: none;
    color: #ededed;
    font-size: 25px;
    padding-left:500px;
}












































