*{
    margin: 0;
    padding: 0;
}

nav{
background-color: rgb(16, 10, 3);
color: rgb(250, 250, 255);
padding: 15px;
}
li,h1,ul{
    display: inline;
   
    
 }

 ul{
    /* margin-left: 60%; */
    text-decoration: none;
    float: right;
    
   
 }

 li a:hover{
    background-color: gray;
 }
 li a{
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
   
 }

 input{
   margin-top: 80px;
   margin-left: 180px;
   width: 70%;
   padding: 10px;
 }

 .searchbar{
   padding: 2px;
   background-color: rgb(254, 185, 83);
 }

 .box{
    border: 2px solid rgb(203, 201, 201);
   border-radius: 4px;
   display: inline-block;
   width: 180px;
   
   
 }
.box:hover{
   background-color: rgba(234, 212, 17, 0.738);
   color: blue;
   border-color: black;
}


  .products{
   text-align: center;
   margin-top: 100px;
   padding: 5px;
   margin-top: 50px;
   background-color:rgb(238, 230, 197);
  }

  .about{
   text-align: center;
   margin-top: 30px;
  }

.about{
  text-indent: justify;
  margin-top: 30px;
  padding: 10px;
  background-color: bisque;
  
}

.contact{
   background-color: rgb(227, 225, 225);
   color: rgb(3, 3, 3);
   width: 100%;
   height: 130px;
   text-align: center;
   
 
}
.contact a:hover{
   background-color: black;
   color: darkblue;
   text-decoration: none;

}






  